@using SaglikOcagi.Entity
@model tbl_Linkler

@{
    ViewBag.Title = "EditLink";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditLink", "Link", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Link</legend>
        @Html.HiddenFor(model => model.LinkID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ad)
            @Html.ValidationMessageFor(model => model.Ad)
        </div>
        <hr />
        <div class="editor-label">
            @Html.LabelFor(model => model.Link)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </div>
        <hr />
        <p>
            <input type="submit" class="btn btn-success" value="Kaydet" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Geri Dön", "List")
</div>



