@using SaglikOcagi.Entity
@using SaglikOcagi.Repository
@model tbl_Hekim

@{
    ViewBag.Title = "HekimDetail";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@{
    BaseRepository<tbl_Hemsire> hemsire = new BaseRepository<tbl_Hemsire>();

    tbl_Hemsire hemsireAd = hemsire.GetByHemsireID(Convert.ToInt32(Model.HemsireID));
    ViewBag.Hemsire = hemsireAd.HemsireAdSoyad;
 }
      


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

        <style type="text/css">
            .container.gallery-container {
                background-color: #fff;
                color: #35373a;
                min-height: 100vh;
                padding: 30px 50px;
            }

            .gallery-container h1 {
                text-align: center;
                margin-top: 50px;
                font-family: 'Droid Sans', sans-serif;
                font-weight: bold;
            }

            .gallery-container p.page-description {
                text-align: center;
                margin: 25px auto;
                font-size: 18px;
                color: #999;
            }

            .tz-gallery {
                padding: 40px;
            }

                .tz-gallery .row > div {
                    padding: 2px;
                }

                .tz-gallery .lightbox img {
                    width: 100%;
                    border-radius: 0;
                    position: relative;
                }

                .tz-gallery .lightbox:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -13px;
                    margin-left: -13px;
                    opacity: 0;
                    color: #fff;
                    font-size: 26px;
                    font-family: 'Glyphicons Halflings';
                    content: '\e003';
                    pointer-events: none;
                    z-index: 9000;
                    transition: 0.4s;
                }


                .tz-gallery .lightbox:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: rgba(46, 132, 206, 0.7);
                    content: '';
                    transition: 0.4s;
                }

                .tz-gallery .lightbox:hover:after,
                .tz-gallery .lightbox:hover:before {
                    opacity: 1;
                }

            .baguetteBox-button {
                background-color: transparent !important;
            }
        </style>

        <h5 class="card-title text-muted text-uppercase text-center">HEKİM</h5>
        <hr />


        <div class="container gallery-container">

            <div class="tz-gallery" style="padding:0">
                <div class="row">

                    <h2 class="col-lg-12" style="text-align:center">@Model.Unvan @Model.HekimAdSoyad</h2>
                    <div class="col-lg-12" style="text-align:center;font-weight:bold">@Model.HekimNo NOLU AHB</div>
                    <label class="col-lg-12" style="text-align:center">(<b>Hemşire:</b> @ViewBag.Hemsire)</label>
                    
                     <div class="col-lg-3"></div>
                     <div class="col-lg-6 col-md-6">

                        @if (Model.HekimFoto == 0.ToString() && Model.CinsiyetID == 1)
                        {
                            <a class="lightbox" href="~/Images/doktor.jpg">

                                <img src="~/Images/doktor.jpg" class="img-fluid" />
                            </a>
                        }
                        else if (Model.HekimFoto == 0.ToString() && Model.CinsiyetID == 2)
                        {
                            <a class="lightbox" href="~/Images/womandoctor.png">

                                <img src="~/Images/womandoctor.png" class="img-fluid" />
                            </a>
                        }
                        else
                        {
                            <a class="lightbox" href="~/Images/@Model.HekimFoto">
                                <img src="~/Images/@Model.HekimFoto" />
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div style="float:right">
            @Html.ActionLink("Geri Dön", "Hekimler")
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.tz-gallery');
        </script>
